@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.445),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 17, 255, 0.685), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
  border-radius: 2px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  height: 30px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo {
  font-family: "Cookie", cursive;
  font-weight: 600;
  background-color: #2874f0;
  color: #f0f0f0;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 200;
  user-select: none;
}

.product-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.loading-spinner {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.loading-spinner img {
  height: 6rem;
  width: 6rem;
  object-fit: cover;
  animation: loading 2s infinite linear;
  transform-origin: center;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.react-multi-carousel-item {
  width: 250px;
}

.react-multiple-carousel__arrow.react-multiple-carousel__arrow--right,
.react-multiple-carousel__arrow.react-multiple-carousel__arrow--left {
  z-index: 2;
}
