@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.445),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 17, 255, 0.685), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
  border-radius: 2px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  height: 30px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  background-color: #2874f0;
}

.logo {
  font-family: "Cookie", cursive;
  font-weight: 600;
  color: #f0f0f0;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 200;
  user-select: none;
}

.logo-container {
  flex: 0.3;
  text-decoration: none;
}

.product-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.loading-spinner {
  width: 80%;
  float: right;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.loading-spinner img {
  height: 6rem;
  width: 6rem;
  object-fit: cover;
  animation: loading 2s infinite linear;
  transform-origin: center;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.react-multi-carousel-item {
  width: 250px;
}

.react-multiple-carousel__arrow.react-multiple-carousel__arrow--right,
.react-multiple-carousel__arrow.react-multiple-carousel__arrow--left {
  z-index: 2;
}

.shopping-cart {
  color: #f0f0f0;
}

.categories-container.shadow-1.pa2 {
  display: inline-block;
  width: 15%;
  height: 80vh;
}

.mt3.product-list-view-container {
  width: 85%;
  float: right;
  padding-left: 50px;
}

.product-detail-right.pa3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.shopping-cart.ml3.pointer {
  flex: 0.2 1;
  width: 100%;
}

.shopping-cart.ml3.pointer > div {
  text-align: center;
  vertical-align: bottom;
}

.cart {
  position: relative;
  margin-top: 5px;
}

.cart > span {
  position: absolute;
  top: -15px;
  left: 45%;
  display: inline-block;
  font-size: 9px;
  background-color: #f0f0f0;
  color: #000;
  padding: 4px;
  border-radius: 100%;
  transform: translateX(-50%);
}

.sign-in-btn {
  padding: 10px 20px;
  border: none;
  color: #2874f0;
  cursor: pointer;
  margin-right: 20px;
  border-radius: 3px;
  transition: all 0.5s;
}

.sign-in-btn:hover {
  background-color: #07285e;
  color: #f0f0f0;
}

.user-details {
  color: #f0f0f0;
}

.user-details b {
  text-transform: uppercase;
}
.user-details button {
  padding: 10px 20px;
  margin-right: 20px;
  border: none;
  transition: all 0.5s;
  cursor: pointer;
}

.user-details button:hover {
  background-color: #07285e;
  color: #f0f0f0;
}

.product-item-image-container {
  position: relative;
}

.heart {
  position: absolute;
  right: 10px;
  top: 10px;
  color: rgba(0, 0, 0, 0.295);
  font-size: 25px;
  cursor: pointer;
  z-index: 25;
  transition: all 0.5s;
}

.heart:hover {
  transform: translateY(-3px);
}

.heart:active {
  transform: translateY(1px);
}

.place-order-message-wishlist {
  width: 90%;
  height: 50px;
  background-color: #fb641b;
  color: #f0f0f0;
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  display: grid;
  place-items: center;
  top: 50px;
  border-radius: 3px;
  font-size: 20px;
}

.product-hover {
  position: relative;
  overflow: hidden;
}

.heart.heart-active {
  color: #000;
}

.quick-view {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 50px;
  transition: all 0.8s;
  background-color: #fb641b;
  color: #f0f0f0;
  transform: translateY(100px);
}

.product-hover:hover .quick-view {
  transform: translateY(0);
}
